main {
  overflow: hidden;
  /* width: 100vw; */
}

button {
 font-size: 20px;
 font-weight: 500;
 @media (max-width: 768px) {
  font-size: 14px;
  transition: all 0.3s ease;
}}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

button:focus {
  cursor: pointer;
  transform: scale(1);
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box {
  width: 100%;
  /* max-width: 1200px; */
  margin: 0 auto;
  /* padding: 2rem; */
  box-sizing: border-box;
}

.container {
  width: 100%;
  /* max-width: 1200px; */
  margin: 0 auto;
  /* padding: 2rem; */
  box-sizing: border-box;
}

.element {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.advantages {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.icon-container {
  text-align: center;
}

.icon-container img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

section {
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

.section-content {
  width: 100%;
  margin: 30px;
}

.cont__section2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    width: 100%;
    padding: 0 2rem;
}

.cont__section2 span {
  font-size: 40px;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  color: #E7E7E7;
}

.cont__section2 div p {
  /* font-size: 100px; */
  width: 100%;
  height: 100%;
 
  /* color: #E7E7E7; */
  /* background: url("../../assets/img/01.png") no-repeat; */
  background-size: 100px 100px;
}

.cont__section2 div p span {
  font-size: 40px;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  
}

.card-banner-container-br element {
  /* background-image: url("../../assets/img/1.jpg"); */
  background-size: cover;
  background-position: center;
  content: "01";
  z-index: 2;
  display: block;
  box-sizing: border-box;
  flex: 1 1 30%;
    min-width: 330px;
    /* max-width: 40%; */
    margin: 30px;
}

.card-banner-container-pr element {
  background-size: cover;
  background-position: center;
  
  display: block;
  box-sizing: border-box;
  flex: 1 1 30%;
  min-width: 330px;
  margin: 30px;
}

p {
  width: 100%;
}

.card-banner-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;
}

.card-banner-container-pr .card-banner-item {
  border: 2px solid #fff;
  min-width: 300px;
  width: 40%;
  color: #fff;
}

.card-banner-container-pr .card-banner-item p{ 
  color: #fff;
}
.color-white {
  color: #fff;
}

.color-black {
  color: #000;
}

.position-center {
  display: flex;
  justify-content: center;  
  align-items: center;
}

.card-banner-container-pr img {
  width: 40px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  
}

.card-banner-work-container .card-banner-item {
  border: 2px solid #bebbbb;
  /* min-width: 300px; */
  flex: 1 1 23%;
  width: 20%;
  height: auto;
  color: #000;
  border-radius: 8px;
  padding: 1rem;

  @media (max-width: 992px) {
    flex: 1 1 50%;
  };
  @media (max-width: 768px) {
    flex: 1 1 100%;
  };
}

.card-banner-work-container img {
  /* min-width: 300px; */
  width: 100%;
  height: auto;  
}

.card-banner-detail-container .card-banner-item {
  border: 2px solid #bebbbb;
  min-width: 300px;
  width: 40%;
  color: #000;
  border-radius: 8px;
  padding: 1rem;
}

.card-banner-detail-container .card-banner-item img, .card-banner-container-br .card-banner-item img { 
  width: 40px;
  height: auto;
  margin: 0;
}

.card-banner-container-br {
 display: flex; 
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-around;
 /* padding: 1rem; */
}

.card-banner-container-br .card-banner-item {
  /* flex: 1 1 30%; */
  min-width: 300px;
  width: 10%;
  border: 2px solid #bfbaba;
  border-radius: 8px;
  /* padding: 1rem; */
  text-align: center;
  background-color: #fff;
  margin: 1rem;
}

.card-img-img2 .card-banner-item {
  flex: 1 1 25%;
  @media (max-width: 1024px) {
    flex: 1 1 50%;
  };
  @media (max-width: 768px) {
    flex: 1 1 100%;
  };
}

.card-img-img2 .card-banner-item img {
  width: 100%;
  height: auto;
} 

.card-img-img2 .card-banner-text-block{
display: none;
}

.card-banner-work-container .card-banner-text-block, .card-banner-container-pr .card-banner-text-block , .card-banner-container-br .card-banner-text-block, .card-banner-detail-container .card-banner-text-block{
  user-select: none;
  pointer-events: none;
}

.h1-style {
  font-family: Roboto;
  font-weight: 700;
  font-size: 54px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #E7E7E7;


}

p {
  font-size: 20px;
}

@media (max-width: 480px) {
  .h1-style {    
    font-size: 36px;    
  }
  
  p {
    font-size: 14px;
  }
}

.card-banner-item {  
  padding: 20px;
}
@media (max-width: 376px) {
  .h1-style {    
    font-size: 24px;    
  }
  
  p {
    font-size: 12px;
  }
  .card-banner-item {
    min-width: 210px !important;
    padding: 7px;
  }
}
