.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  pointer-events: none;
}

.modal-content {
  .parameter-item {
    font-size: 12px;
  }
  .modal-title {
    font-size: 14px;
  }
}

.main-content.blocked {
  pointer-events: none;
  opacity: 0.5;
}

.modal-content {
  pointer-events: auto;
  background: white;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  /* width: 90%;
  max-width: 500px; */
  position: absolute;
  box-shadow: 0 4px 6px rgba(0, 0, 0.2, 0.2);
}

.modal-title {
  margin: 0 0 1.5rem 0;
  text-align: center;
  color: #333;
  font-size: 1.5rem;
}

.modal-close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #666;
  padding: 0.5rem;
  border-radius: 50%;
  /* width: 30px;
  height: 30px; */
}

.modal-close:hover {
  color: #333;
}

.modal-content-inner {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  width: 100%;
}

.modal-parameters {
  display: grid;
  gap: 1rem;
  padding: 0 1rem 1rem 1rem;
}

.parameter-item {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 1px solid #eee;
}

.parameter-name {
  color: #666;
  font-weight: 500;
}

.parameter-value {
  color: #333;
  font-weight: 600;
}
